.checkoutProduct {
  display: flex;
  margin: 20px 5px;
  margin-bottom: 5px;
  padding: 5px 0;
  background-color: #fafafa;
  border: #dbdbdb 1px solid;
  border-radius: 5px;
}

.checkoutProduct__rating > img {
  max-height: 20px;
}

.checkoutProduct__rating {
  display: flex;
}

.checkoutProduct__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutProduct__info {
  padding-left: 20px;
}

.checkoutProduct__info > button {
  background-color: #f0c14b;
  padding: 3px;
  margin-top: 10px;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}

.checkoutProduct__title {
  font-size: 17px;
  font-weight: 800;
}
